{% extends "banner_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Kaelvi Home Page" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
    <h1>{% trans "Welcome to Kaelvi /ke'lvi:/" %}</h1>
    <p>
        {% blocktrans %}
        <b>Kaelvi</b> is an online application intended to aggregate
        questions from students during the class. Questions can be
        moderated by your Teaching Assistants so that the Professor
        gets to easily glance at the top questions. If you are
        wondering why the name, Kaelvi is
        a <a href="http://en.wikipedia.org/wiki/Tamil_language">Tamil</a>
        word meaning Question.
        {% endblocktrans %}
    </p>
    
    <h2>About Kaelvi</h2>
    <p>
        {% blocktrans %} Kaelvi is
        a <a href="https://www.djangoproject.com">django</a> based
        project written
        by <a href="http://www.cs.berkeley.edu/~prmohan">Prashanth
        Mohan</a> who clearly has too much time on his hands. If you
        are interested in using this project for your class, he would
        be most willing to help you set it up.
        {% endblocktrans %}
    </p>
    
    {% if user.is_authenticated %}
        {% url what_next as what_next_url %}
        <p class="what_next">{% blocktrans %}Wondering <a href="{{ what_next_url }}" class="btn primary large">What Next</a>?{% endblocktrans %}</p>
    {% else %}
        {% url acct_login as login_url %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% url acct_signup as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn">Log In</a> or <a href="{{ signup_url }}" class="btn primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
        {% else %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn primary large">Log In</a> to try out the site.{% endblocktrans %}</p>
        {% endifsetting %}
    {% endif %}
{% endblock %}
